{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
  <title>Lessons</title>
{% endblock %}

{% block sidebar %}
  <ul>
    <li id="save"><a href="#" class="save-questions">Save</a></li>
  </ul>
{% endblock %}

{% block header %}
  <h1>Edit Lesson</h1>
  <h2>{{ lesson.name }}</h2>
{% endblock %}

{% block content %}
  <form class="pure-form" id="question_set">
    <p>
      <input type="button" id="add_question" value="+ Add Question" class="pure-button pure-button-primary">
    </p>

    {% for q in lesson.questions.all %}
      <p>
        <input type="text" class="question" value="{{ q.title }}">
        &nbsp;&nbsp;
        <a href="#" id="{{ q.id }}" class="delete_question" style="text-decoration:none;color:#dd514c;">X</a>
      </p>
    {% endfor %}
  </form>
{% endblock %}

{% block inline_scripts %}
  <script src="{% static 'js/monitor-input-changes.js' %}" type="text/javascript"></script>
  <script>
    $(document).ready(function() {
      $('#add_question').click(function(e) {
        e.preventDefault();
        $('#question_set').append('<p><input type="text" class="question" value=""> &nbsp;&nbsp;<a href="#" class="delete_new_question" style="text-decoration:none;color:#dd514c;">X</a></p>');
      });

      $('.delete_question').click(function(e) {
        e.preventDefault();
        saveQuestions();
        var r = $.ajax({
          url: '.',
          type: 'post',
          data: {
            action: 'delete',
            id: $(this).attr('id')
          }
        });

        r.done(function() {
          location.reload();
        });
      });

      $('#question_set').on('click', '.delete_new_question', function(e) {
        e.preventDefault();
        $(e.currentTarget).parent().remove();
      });

      var saveQuestions = function() {
        var questions = [];
        $('.question').each(function() {
          questions.push($(this).val());
        });

        $('#save-status').css('color', '#777');
        $('#save-status').show();
        $('#save-status').text('Saving...');

        var r = $.ajax({
          url: '.',
          type: 'post',
          data: {
              action: 'update',
              questions: questions
          }
        });

        r.done(function() {
          $('#save-status').text('Saved!');
          $('#save-status').fadeOut().delay('slow');
          cleanSaveState();
        });

        r.fail(function() {
          $('#save-status').text('Error Saving');
          $('#save-status').css('color', 'red');
        });
      }
      $('.save-questions').click(saveQuestions);
    });
  </script>
{% endblock %}
