{% extends 'base.html' %}
{% load staticfiles %}
{% load lesson_tags %}

{% block head %}
  <title>{{ lesson.name }}</title>
{% endblock %}

{% block sidebar %}
  {% if user.is_staff %}
    <ul></ul>
  {% else %}
    <ul>
      <li id="save">
        <a href="#" class="save-responses">Save</a>
      </li>
    </ul>

    <ul>
      <li><a href="#">Questions:</a></li>
      {% for q in lesson.questions.all %}
        <li>
          <a href="#{{ q.title|slugify }}">{{ q.title }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}

{% block header %}
  <h1>{{ lesson.name }}</h1>
  <h2>{{ school_class.name }}</h2>
{% endblock %}

{% block content %}
  {% for q in lesson.questions.all %}

    {% if user.is_staff %}
      <a href="/question/{{ lesson.school_class.id }}-{{ q.id }}/" class="pure-button pure-button-primary">
        {{ q.title }}
      </a>
      <small>
        {{ q.response_set.all|only_responses_in_class:lesson|length }}/{{ school_class.students.all|length }} students answered
      </small>
    {% else %}
      <h2 class="content-subhead">
        {{ q.title }}
        {% if q|response_is_seen:user %}
          <small>(Seen by a teacher)</small>
        {% endif %}
      </h2>
      <div id="{{ q.title|slugify }}-editor" class="editor">{{ q|response_text:user }}</div>

      {% if q|response_comment:user %}
        <p><b>Teacher comments:</b></p>
        <p>{{ q|response_comment:user }}</p>
      {% endif %}
    {% endif %}

  {% endfor %}
{% endblock %}

{% block inline_scripts %}
  <script src="{% static 'js/monitor-input-changes.js' %}" type="text/javascript"></script>
  <script>
    $(document).ready(function() {
      var response_ids = [];
      {% for q in lesson.questions.all %}
        response_ids.push('{% if q|response_id:user %}{{ q|response_id:user }}{% else %}new-{{ q.id }}{% endif %}');
      {% endfor %}

      var saveResponses = function() {
        responses = {};
        $(editors).each(function(i, editor) {
          debugger
          responses[response_ids[i]] = editor.getSession().getValue();
        })
        responses['lesson'] = {{ lesson.id }};

        $('#save-status').css('color', '#777');
        $('#save-status').show();
        $('#save-status').text('Saving...');

        var r = $.post('/save-responses/', responses);

        r.done(function(newResponseIds) {
          $('#save-status').text('Saved!');
          $('#save-status').fadeOut().delay(2000);
          cleanSaveState();

          for (var i = 0; i < response_ids.length; i++) {
            // check if string starts with 'new'
            if (response_ids[i].lastIndexOf('new', 0) === 0 && typeof newResponseIds[response_ids[i]] !== 'undefined') {
              response_ids[i] = newResponseIds[response_ids[i]];
            }
          }
        });

        r.fail(function() {
          $('#save-status').text('Error Saving');
          $('#save-status').css('color', 'red');
        });
      }

      $('.save-responses').click(saveResponses);
    });
  </script>
{% endblock %}
