{% extends 'base.html' %}
{% load staticfiles %}
{% load lesson_tags %}

{% block head %}
  <title>New Class</title>
{% endblock %}

{% block sidebar %}
  <ul>
    <li>
      <a href="#" onclick="$('form').submit();return false;">Save</a>
    </li>
  </ul>
{% endblock %}

{% block header %}
  <h1>New Class</h1>
  <h2>
    Logged in as a teacher
  </h2>
{% endblock %}

{% block content %}
  <form class="pure-form" action="." method="post">
    {% csrf_token %}
    <h2 class="content-subhead">
      <label for="name">Class Name</label>
    </h2>
    <input type="text" name="class_name" id="name" placeholder="AP Music Theory, Geography">

    <h2 class="content-subhead">
      <label for="psswd">Join Password</label>
    </h2>
    <input type="text" name="pssdwd" id="psswd">

    <h2 class="content-subhead">
      <label>Teachers</label>
    </h2>
    <p>Use Ctrl/⌘ + Click to select multiple teachers.</p>
    <select name="teachers" multiple>
      {% for teacher in teachers %}
        <option value="{{ teacher.id }}">{{ teacher.get_full_name }}</option>
      {% endfor %}
    </select>
  </form>
{% endblock %}
