{% extends 'base.html' %}
{% load staticfiles %}
{% load lesson_tags %}

{% block head %}
  <title>New {{ school_class.name }} Lesson</title>
{% endblock %}

{% block sidebar %}
  <ul>
    <li>
      <a href="#" onclick="$('form').submit();return false;">Save</a>
    </li>
  </ul>
{% endblock %}

{% block header %}
  <h1>New Lesson</h1>
  <h2>{{ school_class.name }}</h2>
{% endblock %}

{% block content %}
  <form class="pure-form" action="." method="post">
    {% csrf_token %}
    <h2 class="content-subhead">
      <label for="name">Lesson Name</label>
    </h2>
    <input type="text" name="lesson_name" id="name" placeholder="Recursion, The Civil War">

    <h2 class="content-subhead">
      <label for="question1">Questions</label>
    </h2>

    <p>
      <a href="#" id="new-q" class="pure-button pure-button-primary">+ New Question</a>
    </p>

    <p>
      <input type="text" name="q1" id="question1" class="question">
    </p>
  </form>
{% endblock %}

{% block inline_scripts %}
  <script>
    $(document).ready(function () {
      var questionCount = 1;
      $('#new-q').click(function() {
        $('form').append('<p><input type="text" name="' + questionCount + '"></p>')
      });
    });
  </script>
{% endblock %}
